<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New User</h3>
  </div>
  <div class="panel-body">
    <form class="form-inline">
      <label class="sr-only" for="inlineFormFirstName">First Name</label>
      <input type="text" ng-model="newEntry.firstname" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormFirstName" placeholder="First Name">

      <label class="sr-only" for="inlineFormSecondName">Last Name</label>
      <input type="text" ng-model="newEntry.lastname" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormSecondName" placeholder="Last Name">

      <label class="sr-only" for="inlineFormEmail">Email</label>
      <input type="text" ng-model="newEntry.email" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormEmail" placeholder="Email">

      <button type="submit" class="btn btn-success" ng-click="users.sendFormData(newEntry)">Submit</button>
    </form>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Users</h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <tbody>
      <tr ng-repeat="user in users.userList">
        <th>{{ user.id }}</th>
        <td class="name">{{ user.firstname }}</td>
        <td class="name">{{ user.lastname }}</td>
        <td>{{ user.email }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
